body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    overflow-x: hidden;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background: #1c1c1c;
    position: sticky;
    top: 0;
    z-index: 20;
}
.search-box input {
    padding: 8px 12px;
    width: 300px;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: black;
    color: white;
}
.toggle-btn {
    position: absolute;
    left: 20px;
    font-size: 26px;
    cursor: pointer;
    color: white;
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100%;
    background: white;
    color: black;
    padding: 20px;
    transform: translateX(-100%);
    transition: 0.3s;
    z-index: 30;
}
.sidebar.open { transform: translateX(0); }
.sidebar h2 { margin-bottom: 20px; }
.menu-list li {
    list-style: none;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.menu-list li:hover { color: #f39c12; }


.movie-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    transition: transform .3s ease;
}
.movie-card img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
}
.movie-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    opacity: 0;
    padding: 20px;
    transition: .3s ease;
    border-radius: 20px;
    overflow: auto;
}
.movie-card:hover .movie-hover { opacity: 1; }
.movie-card:hover { transform: scale(1.05); }


.form-container {
    width: 100%;
    max-width: 900px;
    padding: 0;
    margin: 50px auto;
}
#contactForm input {
    background-color: #333;
    border: 1px solid #444;
    color: #f5f5f5;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}
#contactForm input:focus {
    background-color: #333;
    color: #fff;
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.btn-dark {
    background-color: #333 !important;
    border: 1px solid #444 !important;
    color: #f5f5f5 !important;
    border-radius: 20px;
    padding: 10px 30px;
}
.btn-dark:hover {
    background-color: #555 !important;
    border-color: #777 !important;
}
.invalid-feedback { color: #dc3545 !important; }
